.card {
  height: 250px;
  width: inherit;
  position: relative;
  background-image: url("./images/background/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-back,
.card-front {
  width: 17em;
  height: 10em;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-back {
  background-image: url("./images/background/bg-card-back.png");
  top: 2em;
  right: 1em;
}

.card-front {
  background-image: url("./images/background/bg-card-front.png");
  bottom: -3em;
  left: 1em;
}

.card input {
  background-color: transparent;
  color: var(--White);
  border: none;
  pointer-events: none;
  position: absolute;
  height: fit-content;
  letter-spacing: 1px;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
}

.card input::-webkit-input-placeholder {
  color: var(--White);
}

.card .logo {
  width: 3.5em;
  position: absolute;
  top: 1em;
  left: 1em;
}

.card-type {
  position: absolute;
  top: 1em;
  right: 1em;
}

.card input[name="number"] {
  top: 4em;
  left: 0.8em;
  width: initial;
  font-size: 22px;
  font-weight: 600;
}

.card input[name="name"] {
  width: 15em;
  bottom: 2.5em;
  left: 1em;
}

.card input[name="mm"] {
  text-align: right;
  bottom: 2.5em;
  right: 4em;
}

.card input[name="yy"] {
  bottom: 2.5em;
  right: 1.5em;
}

.card span {
  position: absolute;
  bottom: 3em;
  right: 4em;
  color: var(--White);
  font-size: 12px;
}

.card input[name="cvc"] {
  text-align: center;
  top: 5.5em;
  right: 4em;
  width: 2.5em;
}

.card input[name="mm"],
.card input[name="yy"] {
  width: 2em;
}

@media screen and (min-width: 768px) {
  .card {
    height: 100vh;
    width: 27%;
    background-image: url("./images/background/bg-main-desktop.png");
  }

  .card-back {
    top: 55.5%;
    left: 11rem;
  }

  .card-front {
    bottom: 50%;
    left: 8rem;
  }
}
