.card {
  height: 250px;
  position: relative;
  background-image: url("./images/background/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-back,
.card-front {
  width: 15em;
  height: 9.5em;
  border-radius: 7px;
  padding: 15px;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-back {
  background-image: url("./images/background/bg-card-back.png");
  top: 2em;
  right: 1em;
}

.card-front {
  background-image: url("./images/background/bg-card-front.png");
  bottom: -3em;
  left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card input {
  background-color: transparent;
  color: var(--White);
  border: none;
  pointer-events: none;
  height: fit-content;
  letter-spacing: 1px;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
}

.card input::-webkit-input-placeholder {
  color: var(--White);
}

.card-type {
  height: 2.2em;
  width: 0;
  float: right;
  background-color: rgba(255, 255, 255, 0.135);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: width 1s linear;
  margin-top: 5px;
}

.card input[name="number"] {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
  width: 100%;
  letter-spacing: .5px;
}

.card input[name="name"] {
  width: 15em;
}

.card input[name="cvc"] {
  text-align: center;
  position: absolute;
  top: 5.8em;
  right: 3.5em;
  width: 2.5em;
}

li {
  list-style: none;
}

.card input[name="mm"],
.card input[name="yy"] {
  width: 1.7em;
  padding: 0 2px;
}

@media screen and (min-width: 768px) {
  .card {
    height: 100vh;
    width: 27%;
    background-image: url("./images/background/bg-main-desktop.png");
  }

  .card-back {
    top: 55.5%;
    left: 8rem;
  }

  .card-front {
    bottom: 50%;
    left: 4rem;
  }

  .card-back,
  .card-front {
    width: 16.5em;
  }
  .card input[name="number"] {
    font-size: 22px;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 1024px) {
  .card-back {
    left: 11rem;
  }

  .card-front {
    left: 8rem;
  }
}
