@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light_grayish_violet: hsl(270, 3%, 87%);
  --Dark_grayish_violet: hsl(279, 6%, 55%);
  --Very_dark_violet: hsl(278, 68%, 11%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

.app {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .app{
    display: flex;
  }
}
